<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jf.cardapp">
    //获取相机权限
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <!-- 写sd卡的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读sd卡权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="MagicCard"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <provider
            android:authorities="com.example.jf.cardapp"
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity android:name=".activity.AdActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.SetActivity" />
        <activity android:name=".activity.ScanActivity" />
        <activity android:name=".activity.DetailsActivity" />
        <activity android:name=".activity.RefreshActivity" />
        <activity android:name=".activity.TextSeachActivity" />
        <activity android:name=".activity.MycollectActivity" />
        <activity android:name=".activity.PersonalDataActivity" />
        <activity android:name=".activity.SignInActivity" />
        <activity android:name=".activity.NewsActivity" />
        <activity android:name=".activity.MatchActivity" />
        <activity android:name=".activity.BannersActivity" />
        <activity android:name=".activity.WebActivity" />
        <activity android:name=".activity.DialogActivity" />
        <activity android:name=".activity.ChangeInformationActivity" />
        <activity android:name=".activity.Scan2Activity"></activity>
        <service android:name=".service.UpdateService">
            android:enabled="true"
        </service>
    </application>

</manifest>